html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body
        h1 Reservations Inform

        p This is the stubbed Reservations inform page
        
        p From here the user will jump back to PAS in order to select their employer, before coming back to the Use Reservation page
        
        a(href="https://127.0.0.1:44347/10005077/apprentices/reservations/create" class="btn btn-success") Start
        
        