html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body


    div(class="container")
        
        div(class="jumbotron")
            h1(class="display-4") Reservations Stub
            p(class="lead") This is stub web application for reservations to simulate the behaviour of the web and api applications for the purpose of testing integration for local development.
            hr(class="my-4")
            p(class="lead") 
        
            h3(class="display-5") Usage
                    
            p User journey is based on: 
                a(href="https://esfa-create-apprenticeship.herokuapp.com/archive/provider-v2/account-home") Prototype
            
            p Supports the following user journey:
            
            ol
                li PAS Home page 
                li 
                    a(href="/10005077/reservations") Reservations start page
                li PAS Select Employer
                li PAS Confirm Employer
                li 
                    a(href="/10005077/account/ABC123/legalentity/XYZ789") Continue (to Use Reservation)
                li ProviderCommitments Add Apprentice
                li Reservations API access
        
            hr(class="my-4")
            
            h3(class="display-5") Caveats and limitations
            
            p Supports only Provider UKPRN 10005077