html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body


    div(class="container")
        
        div(class="jumbotron")
            h1(class="display-4") Reservations Stub
            p(class="lead") This is stub web application for reservations to simulate the behaviour of the web and api applications for the purpose of testing integration for local development.
            hr(class="my-4")
            p(class="lead") 
        
            h3(class="display-5") Usage
                    
            p User journey is based on: 
                a(href="https://esfa-create-apprenticeship.herokuapp.com/archive/provider-v2/account-home") Prototype
            
            p Supports the following user journeys:
            
            h5 Reservations journey
            ol
                li PAS Home page 
                li 
                    a(href="/10005077/reservations") Reservations journey, culminating in using reservation
                li ProviderCommitments Add Apprentice (new cohort)
                li Reservations API access
            
            h5 Add Another Apprentice journey
            ol
                li PAS Cohort Details page
                li Reservations selection
                li ProviderCommitments Add Apprentice (existing cohort)
                li Reservations API access
                
        
                        