html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body
        h1 Reservations Stub
        
        p This is a Reservations stub. This simulates the behaviour of the reservations Web and Api applications.
        
        p Based on
            a(href="https://esfa-create-apprenticeship.herokuapp.com/archive/provider-v2/account-home") Prototype
        
        p Requires use under Provider UKPRN 10005077
        
        p Supports user journey:
        
        ol
            li PAS Home page 
            li 
                a(href="/inform") Reservations Inform page
            li PAS Select Employer
            li PAS Confirm Employer
            li 
                a(href="/use-reservation") Use Reservation
            li ProviderCommitments Add Apprentice
            li Reservations API access
       
        