html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body


    div(class="container")
        
        div(class="jumbotron")
            h1(class="display-4") Reservations Stub
            p(class="lead") This is stub web application for reservations to simulate the behaviour of the web and api applications for the purpose of testing integration for local development.
            hr(class="my-4")
            p(class="lead") 
        
            h3(class="display-5") Usage
                    
            p User journey is based on: 
                a(href="https://esfa-create-apprenticeship.herokuapp.com/archive/provider-v2/account-home") Prototype
            
            p Supports the following user journeys:
            
            h5 Provider Reservations journey
            ol
                li PAS Home page 
                li Reservations journey, culminating in using reservation 
                    a(href="/10005077/reservations") (example)
                li ProviderCommitments Add Apprentice (new cohort)
                li Reservations API access
            
            h5 Provider Add Another Apprentice journey
            ol
                li PAS Cohort Details page
                li Reservations selection
                li ProviderCommitments Add Apprentice (existing cohort)
                li Reservations API access
                
                
            h5 Employer Reservations journey
            ol
                li Employer Home Page
                li Reservations journey, culminating in using reservation:
                    a(href="/accounts/VNR6P9/reservations") Rapid Logistics example 
            
            br
            br
            
            h5 Employer Add Another Apprentice journey
            span ...todo...
        
                        