html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body


        div(class="container")

            div(class="jumbotron")
                h1(class="display-4") Reservations Stub
                hr(class="my-4")
                p(class="lead")

                h3(class="display-5") Manage Reservations
        
                p This is the stubbed Manage Reservations page
                
                p From here the user will jump back to PAS in order to select their employer, before coming back to the Use Reservation page

                a(href=url class="btn btn-success") Start
                
                hr(class="my-4")
                
                div(class="container")
                    figure(class="figure")
                        img(src="/images/start.jpg" width="500")
                        figcaption(class="figure-caption") Manage Reservations start page, dashboard, or inform