html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body


        div(class="container")

            div(class="jumbotron")
                h1(class="display-4") Reservations Stub
                hr(class="my-4")
                p(class="lead")

                h3(class="display-5") Use Reservation

                p From here the user will either use an existing, or create a new, reservation, ultimately electing to use it

                p TODO: present a list of hard-coded reservations in here, which will match those in the api in terms of rules
                
                p Provider UKPRN: #{providerId}
                p Employer Account Public Hashed Id: #{accountId}
                p Account Legal Entity Id: #{accountLegalEntityId}
                
                div(class="card" style="width: 18rem;")
                    div(class="card-body")
                        h5(class="card-title") Sample Reservation
                        p(class="card-text") ec6b806b-0491-44af-bc4f-68366779b931
                        a(href=reservationUrl class="btn btn-success") Use Reservation                
                
                
                hr(class="my-4")
                
                div(class="container")
                    figure(class="figure")
                        img(src="/images/use-select-course.jpg" width="500")
                        figcaption(class="figure-caption") Training Course selection

                div(class="container")
                    figure(class="figure")
                        img(src="/images/use-select-date.jpg" width="500")
                        figcaption(class="figure-caption") Training Date selection

                div(class="container")
                    figure(class="figure")
                        img(src="/images/use-confirm.jpg" width="500")
                        figcaption(class="figure-caption") Confirmation of details
                
                div(class="container")
                    figure(class="figure")
                        img(src="/images/use-now.jpg" width="500")
                        figcaption(class="figure-caption") Add apprentice details immediately

                div(class="container")
                    figure(class="figure")
                        img(src="/images/use-later.jpg" width="500")
                        figcaption(class="figure-caption") Return to use reservation later




