html
    head
        title Reservations Stub
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body
        h1 Reservations - Use Reservation

        p This is the stubbed Reservations journey

        p From here the user will either use an existing, or create a new, reservation, ultimately electing to use it
        
        p TODO: present a list of hard-coded reservations in here, which will match those in the api in terms of rules

        a(href="https://localhost:50001/commitments/10005077/create-apprenticeship" class="btn btn-success") Use Reservation
        
        