html
    head
        title Reservations
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    body


        div(class="container")

            div(class="jumbotron")
                h1(class="display-4") Reservations Stub
                hr(class="my-4")
                p(class="lead")

                h3(class="display-5") Use Reservation

                p From here the user will either use an existing, or create a new, reservation, ultimately electing to use it

                p TODO: present a list of hard-coded reservations in here, which will match those in the api in terms of rules
                
                
                div(class="card" style="width: 18rem;")
                    div(class="card-body")
                        h5(class="card-title") Sample Reservation
                        p(class="card-text") Just a boring reservation
                        a(href="https://localhost:5001" class="btn btn-success") Use Reservation                
                
                